defaults:
  - env: pendulum
  - alg: bac
name: "default"
num_eval_trials: 3
eval_frequency: 50
num_iters: ${alg.num_iters}
seed: 11
mpc: ${env.mpc}
hydra:
  job:
    name: ${name}
  run:
      dir: experiments/${name}_${now:%Y-%m-%d}/${now:%H-%M-%S}
